/*=====================================
    u-color(色の設定)
=====================================*/
.u-bgColor-lightBeige {
    background: rgb(234,225,222);
}

.u-bgColor-lightYellow {
    background: #fffdf0;
}

.u-color-attention {
    color: $color_attention;
}

