@charset "UTF-8";
/*!
 * ress.css • v3.0.1
 * MIT License
 * github.com/filipelinhares/ress
 */
/* # =================================================================
   # Global selectors
   # ================================================================= */
html {
  box-sizing: border-box;
  -webkit-text-size-adjust: 100%;
  /* Prevent adjustments of font size after orientation changes in iOS */
  word-break: normal;
  -moz-tab-size: 4;
  tab-size: 4;
}

*,
::before,
::after {
  background-repeat: no-repeat;
  /* Set `background-repeat: no-repeat` to all elements and pseudo elements */
  box-sizing: inherit;
}

::before,
::after {
  text-decoration: inherit;
  /* Inherit text-decoration and vertical align to ::before and ::after pseudo elements */
  vertical-align: inherit;
}

* {
  padding: 0;
  /* Reset `padding` and `margin` of all elements */
  margin: 0;
}

/* # =================================================================
     # General elements
     # ================================================================= */
hr {
  overflow: visible;
  /* Show the overflow in Edge and IE */
  height: 0;
  /* Add the correct box sizing in Firefox */
}

details,
main {
  display: block;
  /* Render the `main` element consistently in IE. */
}

summary {
  display: list-item;
  /* Add the correct display in all browsers */
}

small {
  font-size: 80%;
  /* Set font-size to 80% in `small` elements */
}

[hidden] {
  display: none;
  /* Add the correct display in IE */
}

abbr[title] {
  border-bottom: none;
  /* Remove the bottom border in Chrome 57 */
  /* Add the correct text decoration in Chrome, Edge, IE, Opera, and Safari */
  text-decoration: underline;
  text-decoration: underline dotted;
}

a {
  background-color: transparent;
  /* Remove the gray background on active links in IE 10 */
}

a:active,
a:hover {
  outline-width: 0;
  /* Remove the outline when hovering in all browsers */
}

code,
kbd,
pre,
samp {
  font-family: monospace, monospace;
  /* Specify the font family of code elements */
}

pre {
  font-size: 1em;
  /* Correct the odd `em` font sizing in all browsers */
}

b,
strong {
  font-weight: bolder;
  /* Add the correct font weight in Chrome, Edge, and Safari */
}

/* https://gist.github.com/unruthless/413930 */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

/* # =================================================================
     # Forms
     # ================================================================= */
input {
  border-radius: 0;
}

/* Replace pointer cursor in disabled elements */
[disabled] {
  cursor: default;
}

[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
  height: auto;
  /* Correct the cursor style of increment and decrement buttons in Chrome */
}

[type="search"] {
  -webkit-appearance: textfield;
  /* Correct the odd appearance in Chrome and Safari */
  outline-offset: -2px;
  /* Correct the outline style in Safari */
}

[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
  /* Remove the inner padding in Chrome and Safari on macOS */
}

textarea {
  overflow: auto;
  /* Internet Explorer 11+ */
  resize: vertical;
  /* Specify textarea resizability */
}

button,
input,
optgroup,
select,
textarea {
  font: inherit;
  /* Specify font inheritance of form elements */
}

optgroup {
  font-weight: bold;
  /* Restore the font weight unset by the previous rule */
}

button {
  overflow: visible;
  /* Address `overflow` set to `hidden` in IE 8/9/10/11 */
}

button,
select {
  text-transform: none;
  /* Firefox 40+, Internet Explorer 11- */
}

/* Apply cursor pointer to button elements */
button,
[type="button"],
[type="reset"],
[type="submit"],
[role="button"] {
  cursor: pointer;
  color: inherit;
}

/* Remove inner padding and border in Firefox 4+ */
button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

/* Replace focus style removed in the border reset above */
button:-moz-focusring,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
  outline: 1px dotted ButtonText;
}

button,
html [type="button"],
[type="reset"],
[type="submit"] {
  -webkit-appearance: button;
  /* Correct the inability to style clickable types in iOS */
}

/* Remove the default button styling in all browsers */
button,
input,
select,
textarea {
  background-color: transparent;
  border-style: none;
}

/* Style select like a standard input */
select {
  -moz-appearance: none;
  /* Firefox 36+ */
  -webkit-appearance: none;
  /* Chrome 41+ */
}

select::-ms-expand {
  display: none;
  /* Internet Explorer 11+ */
}

select::-ms-value {
  color: currentColor;
  /* Internet Explorer 11+ */
}

legend {
  border: 0;
  /* Correct `color` not being inherited in IE 8/9/10/11 */
  color: inherit;
  /* Correct the color inheritance from `fieldset` elements in IE */
  display: table;
  /* Correct the text wrapping in Edge and IE */
  max-width: 100%;
  /* Correct the text wrapping in Edge and IE */
  white-space: normal;
  /* Correct the text wrapping in Edge and IE */
  max-width: 100%;
  /* Correct the text wrapping in Edge 18- and IE */
}

::-webkit-file-upload-button {
  /* Correct the inability to style clickable types in iOS and Safari */
  -webkit-appearance: button;
  color: inherit;
  font: inherit;
  /* Change font properties to `inherit` in Chrome and Safari */
}

/* # =================================================================
     # Specify media element style
     # ================================================================= */
img {
  border-style: none;
  /* Remove border when inside `a` element in IE 8/9/10 */
}

/* Add the correct vertical alignment in Chrome, Firefox, and Opera */
progress {
  vertical-align: baseline;
}

/* # =================================================================
     # Accessibility
     # ================================================================= */
/* Hide content from screens but not screenreaders */
@media screen {
  [hidden~="screen"] {
    display: inherit;
  }
  [hidden~="screen"]:not(:active):not(:focus):not(:target) {
    position: absolute !important;
    clip: rect(0 0 0 0) !important;
  }
}

/* Specify the progress cursor of updating elements */
[aria-busy="true"] {
  cursor: progress;
}

/* Specify the pointer cursor of trigger elements */
[aria-controls] {
  cursor: pointer;
}

/* Specify the unstyled cursor of disabled, not-editable, or otherwise inoperable elements */
[aria-disabled] {
  cursor: default;
}

/*=====================================
    var(変数)
=====================================*/
/*=====================================
    mixin
=====================================*/
/*=====================================
    base
=====================================*/
body {
  color: #333;
  box-sizing: border-box;
  font-family: 'Noto Serif JP', serif;
  font-weight: 500;
  font-size: 16px;
  background: #fff;
}

li {
  list-style: none;
}

a {
  color: inherit;
  text-decoration: none;
}

a:hover {
  cursor: pointer;
}

::placeholder {
  font-weight: normal;
}

img {
  max-width: 100%;
  height: auto;
  vertical-align: middle;
}

/*======================================================
    スクロール後にヘッダーの固定
======================================================*/
/*======================================================
    ハンバーガーメニューのクリック時　✕⇔三
======================================================*/
.js-trigger.is-active:nth-of-type(1) {
  transform: translateY(14px) rotate(45deg);
}

.js-trigger.is-active:nth-of-type(2) {
  opacity: 0;
}

.js-trigger.is-active:nth-of-type(3) {
  transform: translateY(-14px) rotate(-45deg);
}

/*======================================================
    js-effect コンテンツの効果
=======================================================*/
/*要素をふわっとさせる*/
.js-effect-fade {
  opacity: 0;
  transform: translate(0, 45px);
  transition: all .6s;
}

.js-effect-fade.is-effect-scroll {
  /*コンテンツ元に戻す*/
  opacity: 1;
  transform: translate(0, 0);
}

/*=====================================
    l-container
=====================================*/
.l-container {
  width: 100%;
  display: flex;
  justify-content: space-between;
  flex-flow: row wrap;
}

.l-container__main {
  width: 68%;
  margin-bottom: 32px;
}

@media screen and (max-width: 768px) {
  .l-container__main {
    width: 100%;
  }
}

.l-container__sidebar {
  width: 29%;
  padding: 5px;
}

@media screen and (max-width: 768px) {
  .l-container__sidebar {
    width: 100%;
  }
}

/*=====================================
    l-footer
=====================================*/
.l-footer {
  width: 100%;
  padding: 12px 0;
  color: #fff;
  background: #351e0f;
  text-align: center;
}

/*=====================================
    l-header
=====================================*/
.l-header {
  width: 100%;
  height: 70px;
  z-index: 100;
}

/*=====================================
    l-main(footerを最下部に配置する)
=====================================*/
.l-main {
  width: 100%;
  min-height: calc(100vh - 70px);
  padding-top: 70px;
}

/*=====================================
    l-section
=====================================*/
.l-section {
  padding: 60px 0;
}

@media screen and (max-width: 768px) {
  .l-section {
    padding: 32px 0;
  }
}

.l-section__inner {
  margin: 0 auto;
  padding: 0 3%;
  width: 100%;
}

/*=====================================
    他でも使いまわせるパーツ
    c-menu-trigger
=====================================*/
.c-menu-trigger {
  position: absolute;
  width: 100%;
  display: block;
  height: 2px;
  background: #fff;
  border-radius: 4px;
  transition: all .3s;
}

.c-menu-trigger:nth-of-type(1) {
  top: 0;
}

.c-menu-trigger:nth-of-type(2) {
  top: 50%;
}

.c-menu-trigger:nth-of-type(3) {
  bottom: 0;
}

/*=====================================
    p-article(投稿記事)
=====================================*/
.p-article {
  width: 100%;
}

.p-article__title {
  font-family: "Noto Sans JP", sans-serif;
  margin-bottom: 16px;
}

@media screen and (max-width: 414px) {
  .p-article__title {
    font-size: 28px;
  }
}

.p-article__url {
  margin-bottom: 4px;
  color: #d25a59;
  font-family: "Noto Sans JP", sans-serif;
}

.p-article__url i {
  padding-right: 8px;
}

.p-article__text {
  margin-top: 20px;
  line-height: 1.75;
}

.p-article__creation-time {
  font-family: "Noto Sans JP", sans-serif;
  margin-bottom: 24px;
}

.p-article__img {
  border: 1px solid #ccc;
  padding: 8px;
}

/*=====================================
    p-bread(パンくずリストエリア)
=====================================*/
.p-bread {
  width: 100%;
  padding: 16px 0;
  transition: all .3s;
  font-family: "Noto Sans JP", sans-serif;
}

.p-bread--bgGray {
  background: #efefef;
}

.p-bread__menu span {
  margin-right: 4px;
}

.p-bread__menu span:not(:first-child) {
  margin-left: 4px;
}

.p-bread__link:hover {
  color: #d25a59;
  text-decoration: underline;
  transition: all .3s;
}

/*=====================================
    p-btn(ボタンエリア)
=====================================*/
.p-btn {
  position: relative;
  display: block;
  width: 200px;
  height: 50px;
  line-height: 45px;
  margin: 0 auto;
  text-align: center;
  font-size: 20px;
  transition: all .3s;
  color: #fff;
  background: #a47d72;
  border: 2px solid #a47d72;
}

.p-btn--submit {
  border-radius: 3px;
}

.p-btn--submit:hover {
  background: #cca296;
  border: 2px solid #cca296;
  transition: all .3s;
}

.p-btn--more:hover {
  color: #a47d72;
  background: #fff;
}

.p-btn--more::after {
  position: absolute;
  top: 50%;
  right: 14px;
  transform: translateY(-50%);
  content: ">";
}

.p-btn-area {
  margin: 40px auto;
}

/*=====================================
    p-category(カテゴリーエリア)
=====================================*/
.p-category {
  width: 100%;
  margin-bottom: 64px;
}

.p-category__title {
  font-size: 18px;
  padding-bottom: 8px;
  border-bottom: 2px solid #ccc;
}

.p-category__widget ul li {
  position: relative;
  width: 100%;
  padding: 16px 16px 16px 32px;
  border-bottom: 1px dashed #ccc;
  transition: all .3s;
}

.p-category__widget ul li::before {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 14px;
  content: '>';
  color: #ccc;
}

.p-category__widget ul li:hover {
  color: #d25a59;
}

.p-category__widget ul li:hover::before {
  color: #d25a59;
}

.p-category__widget ul li a {
  display: block;
}

/*=====================================
    p-drawer(headerのドロワーメニュー)
=====================================*/
.p-drawer {
  display: none;
}

@media screen and (max-width: 768px) {
  .p-drawer {
    display: block;
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 3;
  }
  .p-drawer__menu {
    display: none;
    position: absolute;
    width: 100%;
    top: 70px;
    left: 0;
  }
  .p-drawer__list {
    position: relative;
    background: #351e0f;
    color: #fff;
    border-bottom: 1px solid #fff;
    padding: 12px;
  }
  .p-drawer__link {
    display: block;
    margin: 0 auto;
  }
  .p-drawer__link::after {
    content: '>';
    position: absolute;
    top: 25%;
    right: 14px;
  }
}

/*=====================================
    p-footer(フッターエリア)
=====================================*/
.p-footer {
  width: 100%;
  padding: 8px 0;
  font-size: 14px;
}

.p-footer-sns__list {
  display: inline-block;
  width: 40px;
  height: 40px;
  background: #fff;
  color: #351e0f;
  border-radius: 50%;
  margin-left: 12px;
  transition: all .3s;
}

.p-footer-sns__list:hover {
  background: #d25a59;
  color: #fff;
  transition: all .3s;
}

.p-footer-sns__link {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.p-footer-sns__link .icon-twitter,
.p-footer-sns__link .icon-facebook {
  font-size: 20px;
}

.p-footer-nav__list {
  display: inline-block;
  margin: 0 8px;
}

.p-footer-nav__link {
  display: block;
}

.p-footer-nav__link:hover {
  text-decoration: underline;
  color: inherit;
}

/*=====================================
    p-form(フォームエリア)
=====================================*/
.p-form {
  width: 100%;
  margin-top: 40px;
}

@media screen and (max-width: 768px) {
  .p-form {
    margin-top: 32px;
  }
}

.p-form label {
  display: block;
  margin-bottom: 8px;
}

.p-form__item {
  width: 100%;
  font-weight: bold;
  margin-top: 16px;
}

@media screen and (max-width: 414px) {
  .p-form__item {
    margin-top: 8px;
  }
}

.p-form__require {
  display: inline-block;
  color: #fff;
  font-size: 12px;
  background: #d25a59;
  border-radius: 3px;
  margin-left: 8px;
  padding: 2px 4px;
  font-family: "Noto Sans JP", sans-serif;
}

.p-form__input {
  width: 100%;
  display: block;
  border: 1px solid #ccc;
  border-radius: 3px;
  background: #fff;
  padding: 10px;
}

.p-form__desc {
  font-weight: bold;
}

.p-form__desc a {
  font-family: "Noto Sans JP", sans-serif;
  color: #d25a59;
}

.p-form__desc a:hover {
  text-decoration: underline;
}

.mw_wp_form .error {
  font-family: 'Noto Sans JP', sans-serif;
}

/*=====================================
    p-frontPage(フロントページの各エリア設定)
=====================================*/
.p-frontPage {
  /*==========　VISUAL　==========*/
  /*==========　ABOUT　==========*/
  /*==========　STUDY　==========*/
  /*==========　CONTACT　==========*/
}

.p-frontPage-visual {
  display: flex;
  flex-flow: column;
  justify-content: center;
  background-image: url(../images/visual-frontPage.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
  height: calc(100vh - 70px);
}

.p-frontPage-visual__title {
  max-width: 750px;
  padding: 5px;
  display: flex;
  flex-flow: column;
  justify-content: center;
  margin: 0 auto;
  text-align: center;
  text-shadow: 2px  2px 10px #fff , -2px  2px 10px #fff , 2px -2px 10px #fff , -2px -2px 10px #fff;
}

.p-frontPage-visual__logo {
  font-size: 40px;
  margin-bottom: 24px;
}

@media screen and (max-width: 768px) {
  .p-frontPage-visual__logo {
    font-size: 32px;
  }
}

@media screen and (max-width: 414px) {
  .p-frontPage-visual__logo {
    font-size: 28px;
  }
}

.p-frontPage-visual__logo br {
  display: none;
}

@media screen and (max-width: 414px) {
  .p-frontPage-visual__logo br {
    display: block;
  }
}

.p-frontPage-visual__desc {
  font-size: 16px;
  letter-spacing: 0.2em;
  line-height: 2;
}

.p-frontPage-about__inner {
  padding: 12px;
  margin-top: 24px;
  border: solid 1px #a47d72;
  /* 内側の線になる一本線の枠線をひく*/
  outline: solid 3px #a47d72;
  /* 外側の線になる一本線の枠線をひく*/
  outline-offset: 4px;
  /* 外側の線と内側の線の空き具合を調整*/
  box-shadow: 2px 2px 40px #a47d72;
}

@media screen and (max-width: 1024px) {
  .p-frontPage-about__inner {
    width: 90%;
  }
}

.p-frontPage-about__body {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
}

.p-frontPage-about__illustration {
  width: 30%;
  max-width: 300px;
  margin-top: 32px;
}

@media screen and (max-width: 768px) {
  .p-frontPage-about__illustration {
    width: 100%;
    max-width: 280px;
    margin: 0 auto;
  }
}

.p-frontPage-about__illustration img {
  width: 100%;
  height: auto;
  border-radius: 50%;
}

.p-frontPage-about__content {
  width: 65%;
}

@media screen and (max-width: 768px) {
  .p-frontPage-about__content {
    width: 100%;
    margin-top: 16px;
  }
}

.p-frontPage-about__content-title {
  font-family: "Noto Sans JP", sans-serif;
  margin-bottom: 12px;
}

@media screen and (max-width: 768px) {
  .p-frontPage-about__content-title {
    text-align: center;
  }
}

.p-frontPage-about__content-text {
  line-height: 2;
  margin-bottom: 12px;
}

.p-frontPage-study {
  text-align: center;
  font-size: 18px;
}

/*=====================================
    p-grid(グリッドエリア)
=====================================*/
.p-grid {
  display: grid;
  justify-content: center;
  row-gap: 28px;
  column-gap: 40px;
  grid-template-columns: repeat(auto-fit, minmax(240px, 300px));
  margin-top: 32px;
  margin-bottom: 16px;
}

@media screen and (max-width: 414px) {
  .p-grid {
    grid-template-columns: 350px;
  }
}

.p-grid__thumbnail {
  border: 1px solid #ccc;
  position: relative;
  padding: 4px;
}

.p-grid__thumbnail img {
  width: 100%;
  height: 100%;
  vertical-align: bottom;
}

.p-grid__thumbnail--mask {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.7);
  opacity: 0;
  /*マスクを非表示*/
  transition: all .5s ease;
}

.p-grid__thumbnail--mask:hover {
  opacity: 1;
  /*マスクを表示*/
  padding-top: 32%;
  /*hoverで下にずらす*/
}

.p-grid__thumbnail--caption {
  display: block;
  font-family: "Noto Sans JP", sans-serif;
  color: #ffffff;
}

.p-grid__title {
  padding: 10px;
  font-family: "Noto Sans JP", sans-serif;
}

.p-grid__title:hover {
  color: #d25a59;
}

/*=====================================
    p-header(ヘッダーエリア)
=====================================*/
.p-header {
  position: fixed;
  background: #a47d72;
}

.p-header__inner {
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-shadow: 2px 2px 8px #f6f5f4;
}

.p-header__inner--logo {
  color: #fff;
  font-size: 24px;
}

@media screen and (max-width: 414px) {
  .p-header__inner--logo {
    font-size: 20px;
  }
}

/*=====================================
    p-menu(header内のnavメニュー)
=====================================*/
.p-menu {
  width: 100%;
  font-weight: 700;
}

@media screen and (max-width: 768px) {
  .p-menu {
    display: none;
  }
}

.p-menu__list {
  color: #fff;
  display: inline-block;
  padding: 0 16px;
  line-height: 70px;
  transition: all .3s;
}

.p-menu__list:hover {
  text-decoration: underline;
  transition: all .3s;
}

.p-menu__link {
  display: block;
}

.p-menu-trigger {
  display: none;
}

@media screen and (max-width: 768px) {
  .p-menu-trigger {
    display: block;
    position: relative;
    width: 40px;
    height: 30px;
    transition: all .3s;
    z-index: 3;
  }
}

/*=====================================
    p-page(各ページの共通箇所)
=====================================*/
.p-page-top {
  display: flex;
  align-items: center;
  text-align: center;
  width: 100%;
}

.p-page-top--full {
  min-height: calc(100vh - 70px);
}

.p-page-top__desc {
  margin-bottom: 24px;
  font-size: 16px;
  font-weight: bold;
}

.p-page-top__desc .dammy {
  display: none;
}

@media screen and (max-width: 414px) {
  .p-page-top__desc .dammy {
    display: block;
  }
}

.p-page-top__desc .privacy {
  display: block;
}

@media screen and (max-width: 414px) {
  .p-page-top__desc .privacy {
    display: none;
  }
}

.p-page__visual {
  margin-top: 20px;
  height: 350px;
  background-repeat: no-repeat;
  background-size: cover;
  box-shadow: 2px 2px 20px #a47d72;
}

@media screen and (max-width: 768px) {
  .p-page__visual {
    height: 300px;
  }
}

@media screen and (max-width: 414px) {
  .p-page__visual {
    height: 250px;
  }
}

.p-page__visual--study {
  background-image: url("../images/visual-studyPage.jpg");
  background-position: center center;
}

.p-page__visual--contact {
  background-image: url("../images/visual-contactPage.jpg");
  background-position: center center;
}

.p-page__a-link {
  color: #d25a59;
  font-family: "Noto Sans JP", sans-serif;
}

.p-page__a-link:hover {
  text-decoration: underline;
}

/*=====================================
    p-pagination(ページネーション)
=====================================*/
.p-pagination {
  margin-top: 36px;
}

.p-pagination__block {
  display: flex;
  justify-content: center;
}

.p-pagination__list {
  display: inline-block;
  font-family: "Noto Sans JP", sans-serif;
  background: #ddd;
  margin-right: 8px;
  border-radius: 2px;
  transition: all .3s;
}

.p-pagination__list.active {
  padding: 8px 16px;
  background: #d25a59;
  color: #fff;
}

.p-pagination__list:hover {
  background: #d25a59;
  color: #fff;
  transition: all .3s;
}

.p-pagination__link {
  display: block;
  padding: 8px 16px;
}

/*=====================================
    p-post(新着投稿)
=====================================*/
.p-post__item {
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding: 8px;
  border-bottom: 1px solid #eee;
}

.p-post__thumbnail {
  width: 29%;
}

.p-post__thumbnail-link {
  display: block;
}

.p-post__thumbnail-link img {
  width: 100%;
}

.p-post__desc {
  width: 68%;
}

.p-post__title {
  font-size: 16px;
  font-weight: normal;
  padding: 5px 0;
}

.p-post__title-link:hover {
  color: #d25a59;
}

/*=====================================
    p-privacy(プライバシーポリシー)
=====================================*/
.p-privacy {
  padding: 50px 0;
}

.p-privacy__title {
  margin-bottom: 16px;
}

.p-privacy__desc {
  line-height: 1.75;
  margin-bottom: 16px;
}

.p-privacy__desc a {
  font-family: "Noto Sans JP", sans-serif;
  color: #d25a59;
}

.p-privacy__desc a:hover {
  text-decoration: underline;
}

/*=====================================
    p-profile(プロフィールエリア)
=====================================*/
.p-profile {
  width: 100%;
}

.p-profile__title {
  font-size: 18px;
  padding-bottom: 8px;
  border-bottom: 2px solid #ccc;
  margin-bottom: 16px;
}

.p-profile__illustration {
  width: 50%;
  margin: 16px auto;
}

.p-profile__illustration img {
  width: 100%;
  max-width: 300px;
  border-radius: 50%;
}

.p-profile__text {
  margin-top: 16px;
}

.p-profile__link {
  display: block;
  width: 100%;
  padding: 5px;
  margin-top: 16px;
  border: 2px solid #ccc;
  text-align: center;
  transition: all .3s;
}

.p-profile__link:hover {
  transition: all .3s;
  background: #d25a59;
  color: #fff;
}

/*=====================================
    p-section（各セクションエリア）
=====================================*/
.p-section {
  max-width: 1100px;
}

.p-section--full {
  max-width: 1600px;
}

.p-section--md {
  max-width: 1200px;
}

.p-section--sm {
  max-width: 850px;
}

.p-section__title {
  text-align: center;
  color: #351e0f;
  font-size: 44px;
  margin-bottom: 24px;
}

@media screen and (max-width: 768px) {
  .p-section__title {
    font-size: 40px;
  }
}

@media screen and (max-width: 414px) {
  .p-section__title {
    font-size: 32px;
  }
}

.p-section__title--lg {
  font-size: 52px;
}

@media screen and (max-width: 768px) {
  .p-section__title--lg {
    font-size: 44px;
  }
}

@media screen and (max-width: 414px) {
  .p-section__title--lg {
    font-size: 36px;
  }
}

.p-section__title--sm {
  font-size: 24px;
}

@media screen and (max-width: 414px) {
  .p-section__title--sm {
    font-size: 20px;
  }
}

.p-section__title--jp {
  display: block;
  color: #a47d72;
  font-size: 16px;
}

.p-section__img-block {
  width: 80px;
  margin: 0 auto;
}

/*=====================================
    p-sideBlock(sidebar内のブロック)
=====================================*/
.p-sideBlock {
  width: 100%;
  margin-bottom: 64px;
}

@media screen and (max-width: 414px) {
  .p-sideBlock {
    margin-bottom: 44px;
  }
}

.p-sideBlock__title {
  font-size: 18px;
  font-family: "Noto Sans JP", sans-serif;
  padding-bottom: 8px;
  border-bottom: 2px solid #ccc;
}

/*=====================================
    p-study(学習実績ページ)
=====================================*/
.p-study__archive-title {
  font-size: 16px;
  font-family: "Noto Sans JP", sans-serif;
  color: #888;
  margin-bottom: 40px;
}

@media screen and (max-width: 768px) {
  .p-study__archive-title {
    margin-bottom: 24px;
  }
}

@media screen and (max-width: 414px) {
  .p-study__archive-title {
    margin-bottom: 16px;
  }
}

.p-study__article {
  width: 100%;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  align-items: center;
  padding: 16px 4px;
  border-bottom: 1px solid #eee;
}

.p-study__article-link {
  display: inline-block;
  width: 100%;
}

.p-study__thumbnail {
  width: 32%;
  border: 1px solid #ccc;
}

.p-study__thumbnail-link {
  display: block;
}

@media screen and (max-width: 414px) {
  .p-study__thumbnail {
    width: 100%;
  }
}

.p-study__thumbnail img {
  width: 100%;
}

.p-study__content {
  width: 63%;
  font-family: "Noto Sans JP", sans-serif;
}

.p-study__content p {
  color: #666;
}

@media screen and (max-width: 414px) {
  .p-study__content {
    width: 100%;
  }
}

.p-study__content time {
  color: #999;
}

.p-study__title {
  font-size: 24px;
  margin-bottom: 8px;
}

@media screen and (max-width: 414px) {
  .p-study__title {
    margin-bottom: 4px;
  }
}

.p-study__title:hover {
  color: #d25a59;
  text-decoration: underline;
}

/*=====================================
    p-taxonomy(カテゴリー、タグ)
=====================================*/
.p-taxonomy {
  width: 100%;
  margin-top: 12px;
}

.p-taxonomy--cat a {
  display: inline-block;
  text-align: center;
  padding: 5px;
  background: #efefef;
  border: 1px solid #ddd;
  border-radius: 5px;
  min-width: 80px;
}

.p-taxonomy--cat a:hover {
  background: #ddd;
}

.p-taxonomy--tag {
  display: block;
  margin-top: 8px;
  color: #888;
}

.p-taxonomy--spanTag a {
  color: #888;
  font-size: 14px;
  margin-top: 8px;
}

.p-taxonomy--spanTag a:hover {
  text-decoration: underline;
}

/*=====================================
    p-scroll(トップスクロールボタン)
=====================================*/
.p-topScroll {
  display: none;
  right: 20px;
  transition: all .3s;
  color: rgba(164, 125, 114, 0.8);
}

.p-topScroll__link {
  display: block;
  height: 100%;
}

.p-topScroll__link .icon-circle {
  font-size: 50px;
}

/*=====================================
    u-color(色の設定)
=====================================*/
.u-bgColor-lightBeige {
  background: #eae1de;
}

.u-bgColor-lightYellow {
  background: #fffdf0;
}

.u-color-attention {
  color: #d25a59;
}

/*=====================================
    u-padding(paddingの設定)
=====================================*/
