/*=====================================
    p-grid(グリッドエリア)
=====================================*/
.p-grid {
    display: grid;
    justify-content: center;
    row-gap: 28px;
    column-gap: 40px;
    grid-template-columns: repeat(auto-fit, minmax(240px, 300px));
    margin-top: 32px;
    margin-bottom: 16px;
    @include mq() {
        grid-template-columns: 350px;
    }
    &__thumbnail {
        border: 1px solid #ccc;
        position: relative;
        padding: 4px;
        & img {
            width: 100%;
            height: 100%;
            vertical-align: bottom;
        }
        &--mask {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background: rgba(0,0,0,.7);
            opacity: 0;/*マスクを非表示*/
            transition: all .5s ease;
            &:hover {
                opacity: 1;/*マスクを表示*/
                padding-top: 32%;/*hoverで下にずらす*/
            }
        }
        &--caption {
            display: block;
            font-family: $font-family_point;
            color: #ffffff;
        }
    }
    &__title {
        padding: 10px;
        font-family: $font-family_point;
        &:hover {
            color: $color_attention;
        }
    }
}