/*=====================================
    p-menu(header内のnavメニュー)
=====================================*/
.p-menu {
    width: 100%;
    font-weight: 700;
    @include mq(md) {
        display: none;
    }
    &__list {
        color: #fff;
        display: inline-block;
        padding: 0 16px;
        line-height: 70px;
        transition: all .3s;
        &:hover {
            text-decoration: underline;;
            transition: all .3s;
        }
    }
    &__link {
        display: block; 
    }
    &-trigger {
        display: none;
        @include mq(md) {
            display: block;
            position: relative;
            width: 40px;
            height: 30px;
            transition: all .3s;
            z-index: 3;
        }
    }
}