/*=====================================
    p-section（各セクションエリア）
=====================================*/
.p-section {
    max-width: 1100px;
    &--full {
        max-width: 1600px;
    }
    &--md {
        max-width: 1200px;
    }
    &--sm {
        max-width: 850px;
    }
    &__title {
        text-align: center;
        color: $color_accent;
        font-size: 44px;
        margin-bottom: 24px;
        @include mq(md) {
            font-size: 40px;
        }
        @include mq() {
            font-size: 32px;
        }
        &--lg {
            font-size: 52px;
            @include mq(md) {
                font-size: 44px;
            }
            @include mq() {
                font-size: 36px;
            }
        }
        &--sm {//dammy.php
            font-size: 24px;
            @include mq() {
                font-size: 20px;
            }
        }
        &--jp {
            display: block;
            color: $color_sub;
            font-size: $font-size_default;
        }
    }
    &__img-block {//dammy.php
        width: 80px;
        margin: 0 auto;
    }
}