/*=====================================
    l-footer
=====================================*/
.l-footer {
    width: 100%;
    padding: 12px 0;
    color: #fff;
    background: $color_accent;
    text-align: center;
}