/*=====================================
    l-main(footerを最下部に配置する)
=====================================*/
.l-main {
    width: 100%;
    min-height: calc(100vh - 70px);
    padding-top: 70px;//fixedしたheaderの高さ分
}